<head>
  <link rel="stylesheet" href="reset.css" type="text/css" />
  <link rel="stylesheet" href="css_styles/index.css"/>
</head>


<h1>Battle Royale...</h1>
<div>
   <form action="/names" method="post">
     <input  type="text" name="p1_name" />
     <input  type="text" name="p2_name"/>
     <input  type="submit" value="Submit"/>
   </form>
 </div>

   <div class=Imageholder>
     <a> <img class=team1 src='http://i.kinja-img.com/gawker-media/image/upload/s--w2nFVINY--/ryeouokmadri0gex4zvu.gif'> </a>
     <a> <img class=team2 src='http://66.media.tumblr.com/32d4869cef0feb5640e4e1dc1d5adaa8/tumblr_mqtfrs9Xbu1rrftcdo1_500.gif'> </a>
   </div>
