<h1>Battle Royale...</h1>
<div>
 <style>
 img  {
   border-color: red;
   border-style: dashed
   }
   </style>
   <form action="/names" method="post">
     <input  type="text" name="p1_name" />
     <input  type="text" name="p2_name"/>
     <input  type="submit" value="Submit"/>
   </form>
   <img src='https://media.giphy.com/media/njl60xjwgrkWY/giphy.gif'>

 </div>
