<!-- <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="css_styles/index.css">
</head> -->
<style>

@import url('https://fonts.googleapis.com/css?family=Bangers');

h1 {
  color: white;
  font-family: 'Bangers', cursive;
  letter-spacing: 3px;
  font-size: 90%;
}

*{
  box-sizing: border-box;

}

.sky {
  background-color: #7ec0ee;
  height: 79%;
}

.dark_green {
  background-color: #006600;
  height: 0.3%;
}

.grass {
  background-color: #23cc19;
  height: 3%;
}

.mud {
  background-color: #ccae19;
  height: 17%;
}

.team1 {
  display: inline-block;
  float: left;
  margin-left: 20%;
  width: 10%;
  padding-top: 19%;
  position: relative;
}

.team2 {
  display: inline-block;
  float: right;
  margin-right: 15%;
  width: 25%;
  padding-top: 10%;
  position: relative;
}

.p1_name {
  float: left;
  margin-left: 20%

}

.p2_name {
  float: right;
  margin-right: 20%
}

textarea:focus, input:focus{
  outline: none;
  border: none;
}

input[type=submit] {
    padding:5px 15px;
    background:gold;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: Bangers;
    color: white;
    position: relative;
  }

input, select, textarea{
    color: black;
    margin: 0px;
    border: 0px;
    outline; none;
    font-family: Bangers;
    background: #ccebff;
}
</style>

<body style="height:100%"; style="width:100%">
  <div class="sky">

    <h1 style="font-size:50px"; align="center"; >
      Mario vs Bowser
    </h1>

    <div>
      <form action="/names" method="post">
        <div class="p1_name" style="width:33%">
          <input  type="text" name="p1_name" placeholder="Enter player 1" />
        </div>
        <div class="p2_name">
          <input  type="text" name="p2_name" placeholder="Enter player 2"/>
        </div>
        <div>
          <input type="submit" value="Submit"/>
        </div>

      </form>
    </div>


    <div>
      <img class=team1 src='http://i.kinja-img.com/gawker-media/image/upload/s--w2nFVINY--/ryeouokmadri0gex4zvu.gif'>
    </div>

    <div>
      <img class=team2 src='http://66.media.tumblr.com/32d4869cef0feb5640e4e1dc1d5adaa8/tumblr_mqtfrs9Xbu1rrftcdo1_500.gif'>
    </div>


</div>

  <div class="dark_green"></div>
  <div class="grass"></div>
  <div class="mud"></div>

</body>
</html>
