<div>

<h1><%=@p1_name%></h1>
<br>
</div>
<!-- <h2><%=@p1_points%></h2> -->

<div>
<h1><%=@p2_name%></h1>


</div>
<!-- <h2><%=@p2_points%></h2> -->

<!-- <div>
 <style>
 img  {
   border-color: red;
   border-style: dashed
   }
   </style>
 </div> -->
