<div>
<h1><%=@game.players[0].name%>: <%=@game.players[0].hp%> HP </h1><br>
</div>

<div>
<h1><%=@game.players[1].name%>: <%=@game.players[1].hp%> HP </h1>
</div>

<form method="get" action="/attack">
  <input type="submit" value="Attack"/>
</form>
