


<h1>Hello! <%=@name%></h1>
<div>
 <style>
 img  {
   border-color: red;
   border-style: dashed
   }
   </style>
   <% if @name.nil? %>
        <form action="/named-cat">
          <input type="text" name="name"/>
          <input type="submit" name="Submit"/>
        </form>
   <% end %>
   <img src='http://bit.ly/1eze8aE'>
 </div>
