<h1>Battle Royale...</h1>
<div>
 <style>
 img  {
   border-color: red;
   border-style: dashed
   }
   </style>
   <form action="/setup" method="post">
     <input id="Player 1 name" type="text" name="player1_name" />
     <input id="Player 2 name" type="text" name="player2_name"/>
     <input id="Submit" type="Submit"/>
   </form>
   <img src='https://media.giphy.com/media/njl60xjwgrkWY/giphy.gif'>

 </div>
