
<head>
  <link rel="stylesheet" href="reset.css" type="text/css" />
  <link rel="stylesheet" href="css/style2.css"/>
</head>

<h1> <%= @player1 %> challenges <%= @player2 %> to duel to the death <h1>

<div class= stats>
<h5 class= player1> <%= @player1 %> 100HP <h5>
<h5 class= player2> <%= @player2 %> 100HP <h5>
</div>
